#opciones ul li {
    padding: 200px;
    margin: 150px;
    align-items: center;
    text-align: center;
    list-style: none;
}

#sobreEmpresa {
    color: rgb(255, 255, 255);
    text-shadow: -1px 6px 4px rgb(0, 0, 0);
    background-image: url('https://img.freepik.com/fotos-premium/fondo-planta-tierra-negra_188078-1056.jpg?w=740');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

#Servicios{
    background-color: aqua;
}